<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="..\angular.min.js"></script>
</head>
<body>
    <div class="root" ng-app="">
        <label for="fname">Enter First Name: </label> <input type="text" id="fname" ng-model="fname"> <br> <br>
        <label for="lname">Enter Last Name: </label> <input type="text" id="lname" ng-model="lname">
        <p>Full Name is <b ng-bind="fname+ ' '+ lname"></b></p>
        <p>Full Name is {{fname+ ' '+ lname}}</p>
    </div>
</body>
</html>