<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="..\angular.min.js"></script>
</head>
<body>
    <div class="root" ng-app="">
        <label for="num1">Enter First Number: </label> <input type="number" id="num1" ng-model="num1"> <br> <br>
        <label for="num1">Enter Last Number: </label> <input type="number" id="num1" ng-model="num2">
        <p>Full Name is <b ng-bind="num1+ num2"></b></p>
        <p>Full Name is {{num1+ ' '+ num2}}</p>
    </div>
</body>
</html>