<!--
p3.1_emp_salary.html
Author: Jagrut Gala
Date: 13-07-2021
Practical: 3
Objective: WAP in angular js to accept first name, salary per day and total number of working days, display first name with upper case filter and the total salary(salary per day*total no. of working days) use currency filter (don’t use ng-click)
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="..\angular.min.js"></script>
    <style>
        label {
            margin-right: 1rem;
        }

        section {
            margin: 0.5rem 0;
        }
    </style>
</head>
<body>
    <div class="root" ng-app="">
        <div>
            <section>
                <label for="name">Enter Your Name</label>
                <input type="text" id="name" ng-model="name">
            </section>
            <section>
                <label for="sal_day">Salary Per Day</label>
                <input type="number" id="sal_day" ng-model="sal_day">
            </section>
            <section>
                <label for="work_days">Number of Working Days</label>
                <input type="number" id="work_days" ng-model="work_days">
            </section>
            <p>{{name| uppercase}} : {{(sal_day* work_days)| currency :'₹'}}</p>
        </div>
    </div>
</body>
</html>