<!--
p2.3_ascend_decend_lang.html
Author: Jagrut Gala
Date: 13-07-2021
Practical: 2
Objective: WAP in Angular JS to display the programming language in the ascending order and descending order using filter. Initialize the data in js file.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../angular.min.js"></script>
    <script src="./p2.3_ascend_decend_lang.js"></script>
    <style>
        .root {
            display: flex;
        }

        .columns {
            margin-right: 4rem;
        }
    </style>
</head>
<body>
    <div class="root" ng-app="myapp" ng-controller="lang_ctrl">
        <section class="columns">
            <h1>Ascending</h1>
            <ul>
                <li ng-repeat="i in languages| orderBy: 'tut'">{{i.tut}}</li>
            </ul>
        </section class="columns">
        <section>
            <h1>Descending</h1>
            <ul>
                <li ng-repeat="i in languages| orderBy: '-tut'">{{i.tut}}</li>
            </ul>
        </section>
    </div>
</body>
</html>