* {
    margin: 0px;
    padding: 0px;
}

.content {
    padding: 2rem;
    border: 3px solid black;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0.2rem;
}

.text {
    margin: 0 0.5rem;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 0 0;
}

.check {
    margin: 0 0.5rem;
    padding: 0.3rem 0.5rem;
}