<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="..\angular.min.js"></script>
</head>
<body>
    <div class="root" ng-app="myapp" ng-controller="filter_ctrl">
        <label for="name_search">Search 🔍</label> <input type="text" ng-model="search">
        <ul>
            <li ng-repeat="i in names| filter: search">{{i.name}}</li>
        </ul>
    </div>
    <script>
        myapp= angular.module("myapp", []);
        myapp.controller("filter_ctrl", function($scope){
            $scope.names= [
                {name: "Bob Smart"},
                {name: "Thora Woods"},
                {name: "Kendrick Fraley"},
                {name: "Andy Daniels"},
                {name: "Honey Presley"},
                {name: "Damian Benson"},
                {name: "Stan Cross"}
            ];
        });
    </script>
</body>
</html>