<!--
p6.2_customer_invoice.html
Author: Jagrut Gala
Date: 24-08-2021
Practical: 6
Objective: WAP to accept customer name, mobile number, product item, quantity as well as price and on click of display button display total amount.(using services)
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="..\angular.min.js"></script>
    <style>
        .root {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .root> * {
            margin-top: 1rem;
        }

        table {
            border-collapse: collapse;
        }
        table, tr, th, td {
            border: 1px solid black;
            padding: 0.2rem 0.5rem;
        }

        input, select {
            border: 0;
        }
    </style>
</head>
<body>
    <div class="root" ng-app="myapp" ng-controller="customer_ctrl">
        <h1>Customer Invoice</h1>
        <section class="content">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <tr>
                    <th><input type="text"></th>
                    <th><input type="number"></th>
                    <th>
                        <select ng-model="selected_item" ng-options="i as i.name for i in items track by i.id"></select>
                    </th>
                    <th><span>{{selected_item.price}}</span></th>
                    <th><input type="number" ng-model="quantity"></th>
                </tr>
            </table>
        </section>
        <button ng-click="total()">Total</button>
        <p>Final Price: <b>{{final_price| currency:'₹'}}</b></p>
    </div>

    <script>
        myapp= angular.module("myapp", []);
        myapp.service("TotalService", function(){
            this.total= function (price, quantity) {
                return price* quantity;
            }
        });

        myapp.controller('customer_ctrl', function($scope, TotalService){
            $scope.items= [
                {id: 0, name: "Bread", price: 35},
                {id: 1, name: "Blood", price: 420},
                {id: 2, name: "Berry", price: 20},
                {id: 3, name: "Banana", price: 69},
                {id: 4, name: "Burger", price: 50},
            ];
            $scope.selected_item= {id: 0, name: "Bread", price: 35};
            $scope.quantity= 1;
            $scope.total= function () {
                $scope.final_price= TotalService.total($scope.selected_item.price, $scope.quantity)
            }
        });

    </script>
</body>
</html>